.history {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 30px;
  border-collapse: collapse;
  box-shadow: 0 0 7px rgba(196, 193, 193, 0.5);
}

.history td {
  padding: 25px;
  width: 290px;
  font-family: 'Roboto';
  font-weight: 400;
  height: 70px;
  color: #5c6975;
  font-size: 16px;
  box-shadow: 0 0 1px rgba(196, 193, 193, 0.5);
}

.history thead {
  text-transform: uppercase;
  background-color: #ebeef2;
  border: none;
}

.history thead tr th {
  width: 290px;
}

.history tr th {
  height: 70px;
  text-align: center;
}

.type {
  text-transform: capitalize;
}
