.balance {
  text-align: center;
  margin: 40px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #5c6975;
  margin-right: 23px;
}

.balance span {
  margin-right: 27px;
}

.balance span .green {
  color: #b0d389;
  margin-right: 5px;
}

.balance span .red {
  color: #ed666a;
  margin-right: 5px;
}
